body {
    --background1: radial-gradient(ellipse at top, rgba(28, 33, 64, 0.713),rgba(10, 45, 102, 0.451),transparent),
    linear-gradient(45deg, rgba(17, 78, 79, 0.675),rgba(67, 32, 123, 0.579),rgb(40, 11, 75));
    --background2: radial-gradient(farthest-corner at 2em 2em, rgba(31, 57, 113, 0.501) 0% ,rgba(4, 48, 94, 0.431) 100%),
    linear-gradient(rgb(56, 33, 50),rgba(3, 81, 81, 0.785));
    --background3: radial-gradient(ellipse at bottom, rgba(78, 52, 104, 0.57),rgba(13, 22, 75, 0.675),rgba(8, 33, 80, 0.596)),
    linear-gradient(rgb(115, 39, 109),rgb(5, 53, 42));

    background: var(--background2);
    color: rgb(231, 229, 229);
    

}

#maindiv {
    /* height: 100vb; */
    display: flex;
    flex-direction: column;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background : var(--background2);
    font-size: 30px;
    font-family: 'Kalam', cursive;
    padding: 1em;
    border-radius: 0.5em;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--background1);
    font-family: 'Kalam', cursive;
    font-size: 30px;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.2em;
}

#wall {
    background : var(--background2);
    display : grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
    padding: 2em;

}
.taskContainer {
    
    border-radius: 0.5em;
/*     margin: 1em; */
    padding: 0.5em;
    font-family: 'Kalam', cursive;
    
    
    flex-direction: column;
}

.taskLabelClass {
    display: flex;
    justify-content: center;
    
}

.dateLabelClass {
    display:flex;
    justify-content: center;
    
}
