body {
   
    --background1: radial-gradient(ellipse at top, rgba(13, 15, 33, 0.713),rgba(3, 16, 37, 0.451),transparent),
    linear-gradient(45deg, rgba(23, 1, 1, 0.675),rgba(14, 17, 1, 0.579),rgb(13, 3, 26)),
    radial-gradient(ellipse at left,rgba(11, 32, 9, 0.844),rgba(5, 24, 10, 0.969),rgba(32, 4, 32, 0.935));
    --background2: radial-gradient(farthest-corner at 4em 4em, rgba(14, 16, 23, 0.849) 30% ,rgba(30, 6, 24, 0.507) 70%),
    radial-gradient(ellipse at center, rgba(37, 0, 27, 0.734),rgba(3, 31, 31, 0.785));
    --background3: radial-gradient(ellipse at bottom, rgba(10, 5, 24, 0.57),rgba(11, 13, 25, 0.675),rgba(14, 22, 38, 0.596)),
    linear-gradient(rgba(32, 1, 29, 0.5),rgba(1, 22, 17,0.4));
    --background4: radial-gradient(ellipse at top,rgba(12,12,23,0.44),rgba(42,4,3,0.32),rgba(23,12,43,0.32)),
                   radial-gradient(ellipse at right,rgba(53,12,43,0.54),rgba(32,22,11,0.64),rgba(11,43,12,0.44));
    box-sizing: border-box;
    background: var(--background2);
    color: rgb(100, 100, 100);
    

}

#maindiv {
    /* height: 100vb; */
    display: flex;
    flex-direction: column;
/*     width: 100vw; */
    
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background : var(--background2);
    font-size: 30px;
    font-family: 'Kalam', cursive;
    padding: 1em;
    border-radius: 0.5em;
    color: rgb(128,128,128);
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--background1);
    font-family: 'Kalam', cursive;
    font-size: 30px;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.2em;
}

#wall {
    background : var(--background2);
    display : grid;
    grid-template-columns: 1fr 1fr;

}
.taskContainer {
    
    border-radius: 0.5em;
/*     margin: 1em; */
    padding: 0.5em;
    font-family: 'Kalam', cursive;
    
    
    flex-direction: column;
}

.taskLabelClass {
    display: flex;
    justify-content: center;
    
}

.dateLabelClass {
    display:flex;
    justify-content: center;
    
}
